<%= form_for(explore) do |f| %>
  <% if explore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(explore.errors.count, "error") %> prohibited this explore from being saved:</h2>

      <ul>
      <% explore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
